In [21]:
ims= {123456: {"brand": "MI" , "cost": 11234, "type" : "tablet"},
      789101: {"brand": "Apple", "cost": 115678, "type" : "macbook"},
      112131: {"brand": "oneplus", "cost": 38984, "type" :"smartphone" }}

In [20]:
reg = 123456

print(ims[reg]['brand'])
print(ims[reg]['cost'])
print(ims[reg]['type'])

MI
11234
tablet

In [19]:
reg = 789101

print(ims[reg]['brand'])
print(ims[reg]['cost'])
print(ims[reg]['type'])

Apple
115678
macbook

In [18]:
reg = 112131

print(ims[reg]['brand'])
print(ims[reg]['cost'])
print(ims[reg]['type'])

oneplus
38984
smartphone

In [17]:
import json
js = json.dumps(ims)
js

'{"123456": {"brand": "MI", "cost": 11234, "type": "tablet"}, "789101": {"brand": "Apple", "cost": 115678, "type": "macbook"}, "112131": {"brand": "oneplus", "cost": 38984, "type": "smartphone"}}'

In [42]:
fd = open('ims.json','r')

txt = fd.read()

fd.close()

In [26]:
txt

'{"123456": {"brand": "MI", "cost": 11234, "type": "tablet"}, "789101": {"brand": "Apple", "cost": 115678, "type": "macbook"}, "112131": {"brand": "oneplus", "cost": 38984, "type": "smartphone"}}'

In [41]:
fd = open("ims.json",'r')
r = fd.read()
fd.close()

ims = json.loads(r)

In [59]:
prod_id = str(input("Enter product id:"))
brand = str(input("Enter name:"))
price= int(input("Enter price:"))
os = str(input("Enter os:"))
typ=str(input("Enter the type:"))
qn=int(input("Enter the quantity:"))
ims[prod_id] = {'brand': brand, 'price': price, 'os': os, "type":typ, "qunatity":qn}

js = json.dumps(ims)

fd = open("ims.json",'w')
fd.write(js)
fd.close()

Enter product id:9638552
Enter name:Googlebook
Enter price:78965
Enter os:chromeos
Enter the type:chromebook
Enter the quantity:16

In [45]:
del ims['789101']

In [62]:
import json

fd = open("ims.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [67]:
ims

{'112131': {'brand': 'oneplus',
  'os': 'oneos',
  'price': 30000,
  'qunatity': 50,
  'type': 'voiceassistant'},
 '123456': {'brand': 'Mi',
  'os': 'android',
  'price': 12000,
  'qunatity': 100,
  'type': 'tablet'},
 '23456': {'brand': 'vivo',
  'os': 'linux',
  'price': 21000,
  'qunatity': 12,
  'type': 'keypad'},
 '564789': {'brand': 'apple',
  'os': 'ios',
  'price': 100000,
  'qunatity': 25,
  'type': 'ipad'},
 '789101': {'brand': 'oppo',
  'os': 'stock android',
  'price': 15000,
  'qunatity': 50,
  'type': 'touch'},
 '9638552': {'brand': 'Googlebook',
  'os': 'chromeos',
  'price': 78965,
  'qunatity': 16,
  'type': 'chromebook'}}

In [69]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['brand'])
print("Price: ", records[ui_prod]['price'])
print("Billing Amount: ", records[ui_prod]['price'] * ui_quant)

records[ui_prod]['qunatity'] = records[ui_prod]['qunatity'] - ui_quant

Enter the product_Id: 23456
Enter the quantity: 25
Product:  vivo
Price:  21000
Billing Amount:  525000

In [70]:
js = json.dumps(records)

fd = open("ims.json",'w')
fd.write(js)
fd.close()

In [71]:
{'prod' : ui_prod, 'qunatity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}

{'amount': 525000, 'prod': '23456', 'qunatity': 25}

In [72]:
sales = {1 : {'prod' : ui_prod, 'qunatity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant},
         2 : {'prod' : ui_prod, 'qunatity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant},
         3 : {'prod' : ui_prod, 'qunatity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant}}

In [75]:
sale = json.dumps(sales)
sale

'{"1": {"prod": "23456", "qunatity": 25, "amount": 525000}, "2": {"prod": "23456", "qunatity": 25, "amount": 525000}, "3": {"prod": "23456", "qunatity": 25, "amount": 525000}}'